@import './../bower_components/bootstrap/scss/bootstrap.scss';

body, html {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: url(../assets/images/background.png) no-repeat center center fixed;
}

.header-img {
  img{
    padding: 0;
  }
}



.main-logo {
  width: 30%;
  img {
    position: absolute;
    margin-top: -1rem;
    margin-left: -1rem;
    width: 100%;
  }
}

.order {
  img {
    position: absolute;
    margin-top: -3.5rem;
    padding-left: 1.8rem;
  }
}

.center-img {
  width: 25rem;
}

.arrow {
  padding-top: 8rem;
}

.social {
  img {
    position: absolute;
  }
}

.social-margin {
  margin-left: -2rem;
}

.three-images {
  padding-top: 3rem;

}

.nain-margin {
  margin-left: 22%;
}

.three-images-margin {
  margin-left: 18%;
  img {
    position: absolute;
  }
}

.instagram {
  margin-top: -5rem;
}

.facebook {
  margin-top: -1.4rem;
}

.twitter {
  margin-top: -3rem;
  margin-left: 2.8rem;
}

.google {
  margin-top: 0.4rem;
  margin-left: 2.8rem;
}

.bakery {
  margin-left: 14rem;
}

.food {
  margin-left: 28rem;
}
