/*@media screen and (max-width: 480px) {
  .center {
    position: relative;
  }
  .order {
    font-size: 0.4em;
    margin-top: -250px;
    margin-left: 33.33% !important;
  }
  .social {
    margin-top: 0px;
  }
    .logo{
        margin-top: 100px;
    }
    
    .arrow{
         display: none;   
    }
        
}

@media only screen and (max-width:1800px) {

.social2{
    margin-left:-4.5% !important;
}

}
*/

@media screen and (min-width: 1440px){
    .social2 {
        margin-left: -9.5% !important;
    }
    .facebook{
        margin-top: -32%;
    }

    .twitter {
        margin-top: 38% !important;
    }
}

@media screen and (min-width: 1800px){
    .facebook{
        margin-top: -34% !important;
    }
    .social2 {
        margin-left: -10.5% !important;
    }
    .gp {
        margin-top: -23% !important;
    }

    footer {
        bottom: -47px;
    }
}

@media screen and (min-width: 2240px){
    .facebook{
        margin-top: -27% !important;
    }
    .social2 {
        margin-left: -11.5% !important;
    }
    .gp {
        margin-top: -18% !important;
    }
    .twitter {
        margin-top: 30% !important;
    }

    .categories {
        margin-top: 7%;
    }

    .order .orderText {
        left: 22%;
    }

    footer {
        bottom: 0px;
    }

}

@media screen and (min-width: 2500px){
    .facebook{
        margin-top: -22% !important;
    }
    .social2 {
        margin-left: -12.5% !important;
    }
    .gp {
        margin-top: -16% !important;
    }
    .twitter {
        margin-top: 30% !important;
    }

}

@media screen and (min-width: 2880px){
    .facebook{
        margin-top: -19% !important;
    }
    .social2 {
        margin-left: -13.05% !important;
    }
    .gp {
        margin-top: -14% !important;
        margin-left: 2% !important;
    }
    .twitter {
        margin-top: 22% !important;
    }
    .categories {
        margin-top: 10%;
    }
    .order .orderText {
        left: 17%;
        top: 45%;
    }
}


@media screen and (max-width:1440px) {
    .social2 {
        margin-left: -9.5% !important;
    }
    .twitter {
        margin-top: 40% !important;
    }

    
}


@media screen and (max-width: 768px) {
    .slider {
        position: relative;
        top: 1%;
    }
    .arrow {
        margin-top: 0;
    }
}

@media screen and (max-width: 480px) {
    .slider {
        position: relative;
        top: 1%;
    }
    .arrow {
        margin-top: 0;
    }
    .order {
        font-size: 0.4em;
        margin-top: -330px;
        margin-left: 33.33% !important;
    }
    .logo {
        margin-top: 100px;
        padding-top: 80px;
    }
    .social2 {
        margin-left: -30.5% !important;
    }
    footer {
        bottom: -47px;
    }
}

@media screen and (max-width: 400px) {
    .twitter {
        margin-top: 54% !important;
    }
}

@media screen and (width: 768px) {
    .facebook {
        margin-top: -21% !important;
    }
    .social2 {
        margin-left: -37.5% !important;
    }
    .twitter {
        margin-top: 23% !important;
    }
    .gp {
        margin-top: -13% !important;
    }
}